<!DOCTYPE html>

<html lang="en">
<meta charset="utf-8"/>
<script src= "./../node_modules/angular/angular.js"></script>
<script type="application/javascript" src="../scripts/controller.js"></script>

<head>
    <title>First AngularJS Application</title>
</head>
<body>
<h1>Wir vs Virus</h1>

<div ng-app="app" ng-controller="main-controller">
    <div id="main">
    Name:
    <input type="text" ng-model="String" />
        <select id="singleSelect" ng-model="data.singleSelect">
            <option value="">---Please select---</option> <!-- not selected / blank option -->
            <option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
            <option value="{{data.option2}}">Option 2</option>
        </select>
        <textarea>singleSelect = {{data.singleSelect}}</textarea>
    </div>
</div>
</body>
</html>